<div ng-controller="changePasswordController">
<div class="changePasswordMain">
    <h1>{{pageName}}</h1>
    <form name="changePasswordForm" ng-submit="changePassword()">
        <label>Old Password :</label>
        <input type="password" name="old_password" placeholder="Old password" ng-model="changepasswordData.old_password" required>
        <br>
        <label>new Password :</label>
        <input type="password" name="new_password" placeholder="new password" ng-model="changepasswordData.new_password" required>
        <br>
        <label>conformation Password :</label>
        <input type="password" name="confirmation_password" placeholder="confirmation password" ng-model="changepasswordData.confirmation_password" required>
        </br>
        <button type="submit">change password</button>
    </form>
    </div>
</div>
